server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/apilimitdb
    username: postgres
    password: 2002
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true

api-resource:
  simulate: true
